* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Fredoka", sans-serif;
}
/* nav-bar */

.nav-container {
  display: flex;
  background-color: #161515;
  justify-content: space-around;
  align-items: center;
}

.nav-container img {
  width: 310px;
}

.menu {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: larger;
}

.menu a {
  color: #553a25;
  text-decoration: none;
  position: relative;
}

.menu a:hover {
  transform: rotate(-1deg) scale(1.1);
  transition: transform 0.5s ease-out;
}
.cart-login span {
  display: none;
}

.cart-login {
  display: flex;
  gap: 20px;
  align-items: center;
}

.cart-login .sign {
  border: 2px solid #4a342a;
  text-decoration: none;
  color: #4a342a;
  padding: 8px 13px;
  font-weight: 500;
  border-radius: 2rem;
}

.cart-login .sign:hover {
  transform: scale(1.1);
  transition: transform 0.6s ease-out;
}

.cart-login .order {
  border: 2px solid #4a342a;
  background-color: #4a342a;
  text-decoration: none;
  color: white;
  padding: 8px 13px;
  font-weight: 500;
  border-radius: 2rem;
}

.cart-login .order:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}

.cart-login .menu-bar {
  border: 2px solid #4a342a;
  border-radius: 5px;
  padding: 15px 3px;
}

.cart-login .menu-bar:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.6s ease-out;
}

/* media queries for tablet */
@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }

  .cart-login .menu-bar {
    display: flex;
  }
}

/* media queries for mobile */
@media screen and (max-width: 700px) {
  .menu {
    display: none;
  }

  .nav-container img {
    width: 250px;
  }
  .sign,
  .order {
    display: none;
  }
}

/* side-bar  */

.side-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  pointer-events: none; 
}

.side-menu {
   background-color: #4a342a;
  width: 65%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 20px;
  transition: right 0.5s ease;
  z-index: 10000;
  pointer-events: auto;
}

.side-menu a {
  text-decoration: none;
  color: white;
}

.side-menu .signin-side {
  border: 2px solid white;
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  font-weight: 500;
  border-radius: 2rem;
}

.side-menu .order-side {
  border: 2px solid white;
  background-color: white;
  text-decoration: none;
  color: rgb(74, 52, 42);
  padding: 8px 10px;
  font-weight: 500;
  border-radius: 2rem;
}

#x-mark {
  align-self: flex-start;
  justify-self: flex-start;
}

#x-mark:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.6s ease-out;
}

/* media queries for tablet */
@media screen and (max-width: 1024px) {
  .side-menu .signin-side,
  .side-menu .order-side {
    display: none;
  }
}

/* media queries for tablet */
@media screen and (max-width: 768px) {
  .side-menu .signin-side,
  .side-menu .order-side {
    display: block;
  }
}


/* Hero Section */
.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.8s ease-in-out;
  padding: 0 2rem;  
  color: #fff;
}

.slide:nth-child(1){
  padding-left: 500px;
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
}

.slide h1, .slide p, .slide button{
  position: relative;
  z-index: 3;
}

.slide h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.slide h1 span {
  color: #f5d1a0;
}


.slide p {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  max-width: 700px;
}
.slide button {
  padding: 0.8rem 2rem;
  background-color: rgba(160, 82, 45, 0.85);
  border: none;
  border-radius:10px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.slide button:hover {
  background-color: rgba(75, 46, 46, 0.85);
}

/* Navigation Buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(75, 46, 46, 0.7);
  color: #fff;
  border: none;
  font-size: 2rem;
  padding: 5px 1rem;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 5;
}

.prev:hover, .next:hover {
  background-color: rgba(160, 82, 45, 0.85);
}

.prev { 
  left: 30px; 
}
.next {
   right: 30px; 
  }

/* Responsive */
@media screen and (max-width: 768px) {

  .slide{
    padding-top:350px;
  }
  .slide h1 { 
    font-size: 2rem;
   }

  .slide p { 
    font-size: 1.5rem;
   }

  .slide button { 
    font-size: 0.9rem; padding: 0.6rem 1.5rem; 
  }
  .slide:nth-child(1){
  padding-left:20px;
}

.prev, .next{
  opacity:20%;
  background-color:transparent;
}

.prev:hover, .next:hover {
  background-color: transparent;
}

}




/* footer  */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161515;
}

.footer .foot-logo {
  display: flex;
  justify-content: center;
  gap: 15rem;
  width: 100%;
  align-items: center;
}

.footer .foot-logo img {
  width: 350px;
  margin-left: 500px;
}

.footer .contact {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.contact .address {
  color: beige;
  font-size: x-large;
}

.contact .address h2 {
  text-decoration-line: overline underline;
  text-decoration-color: #553a25;
}

.footer .contact .email {
  align-self: baseline;
}

.contact .email p {
  color: beige;
  font-size: x-large;
  text-align: center;
}

.contact .email input {
  width: 400px;
  padding: 0.5rem;
  margin-top: 10px;
}

.contact .email input:focus {
  outline: none;
}
.contact .email button {
  padding: 0.5rem;
}

.contact .timing {
  color: beige;
  font-size: x-large;
}

.contact .timing h2 {
  text-decoration-line: overline underline;
  text-decoration-color: #553a25;
}

.footer .copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: beige;
  font-size: 1.5rem;
  padding: 10px;
}

/* media quries for footer  */

/* media queries for tablet */
@media screen and (max-width: 1024px) {
  .footer {
    gap: 2rem;
  }
  .footer .foot-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    width: 100%;
    align-items: center;
  }

  .footer .foot-logo img {
    width: 350px;
    margin: auto;
  }

  .footer .contact {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }

  .contact .address {
    color: beige;
    font-size: 1rem;
  }

  .footer .contact .email {
    align-self: baseline;
  }

  .contact .email p {
    color: beige;
    font-size: 1rem;
    text-align: start;
  }

  .contact .email input {
    width: 200px;
    padding: 0.5rem;
    margin: 10px 0;
  }
  .contact .email button {
    padding: 0.5rem;
    justify-self: center;
  }

  .contact .timing {
    color: beige;
    font-size: 1.5rem;
  }

  .footer .copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: beige;
    font-size: 1rem;
    padding: 5px;
  }
}

/* media queries for mobile */
@media screen and (max-width: 768px) {
  .footer .foot-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    width: 100%;
    align-items: flex-start;
    padding: 0 9%;
  }

  .footer .foot-logo img {
    width: 300px;
    align-self:baseline;
  }

  .footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 1.5rem;
    padding: 0 9%;
  }

  .contact .address, .contact .email, .contact .timing {
    border-bottom: 1px solid gray;
    border-width: 100%;
    padding:5px;
  }

  .contact .address {
    color: beige;
    font-size: 22px;
    align-self: flex-start;
  }

  .footer .contact .email {
    align-self: flex-start;
  }

  .contact .email p {
    color: beige;
    font-size:18px;
    text-align: center;
  }

  .contact .email input {
    width: 200px;
    padding: 0.5rem;
    margin: 10px 0;
  }
  .contact .email button {
    padding: 0.5rem;
    justify-self: center;
  }

  .contact .timing {
    color: beige;
    font-size: 22px;
    align-self: flex-start;
  }

  .footer .copyright {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items:center;
    width: 100%;
    color: beige;
    font-size: 1rem;
    padding: 5px;
  }
}


